<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EXPO_RUNTIME_VERSION</key>
	<string>2.1.4</string>
	<key>developmentUrl</key>
	<string>exp136b7009c22849b18ccdb3f232ca3804://8d-uwu.zgrav.xtream-iptv-player-reactnative.exp.direct:80</string>
</dict>
</plist>
